body, html {
    margin: 0;
    width: 100%;
    height: 100%;
}

header, nav {
    position: absolute;
}

nav {
    margin-top: 50px;
}

#statusWrap {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    z-index: -1;
}

#statusWrap h1 {
    color: white;
    font-family: Montserrat, serif;
    font-size: 5em;
    letter-spacing: 1px;
}