#mainContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background: #000;
}

#mainWrap {
    width: 60%;
    background: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 30px;
}

#cartText h3 {
    font-family: Montserrat, serif;
    font-size: 2.5rem;
    margin: 0;
}

#preview {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
}

#imgPreview {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 0 0 20px;
}

#description {
    height: 100%;
    width: 35%;
    background: #ececec;
    font-family: Montserrat, serif;
    font-size: 1.3rem;
    padding: 15px 20px;
    box-sizing: border-box;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bundle, #price {
    height: 100%;
    background: #000;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Montserrat, serif;
    font-weight: 800;
    color: white;
    font-size: 2rem;
    text-align: center
}

#price {
    border-radius: 0 20px 20px 0;
}

#price span, #balance span {
    font-weight: 400;
}

#cartItem {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#balance {
    box-sizing: border-box;
    padding: 10px 20px 30px 10px;
    font-family: Montserrat, serif;
    font-size: 2rem;
    color: gray;
}

#buyButton {
    font-family: Montserrat, serif;
    font-size: 1.5rem;
}

#buyButton {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#buyButton button {
    margin-top: 3rem;
    font-family: Montserrat, serif;
    font-size: 2.5rem;
    letter-spacing: 2px;
    border: none;
    outline: none;
    background: #ffffff;
    font-weight: 800;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
}

#buyButton button:after {
    position: absolute;
    bottom: 0;
    left: 0;
    content:"";
    background: #ea0909;
    width:100%;
    height:0.14rem;
    border-radius: 5px;
}

#payMsg2 {
    display: none;
}